
:root {
  --background: #ffffff;
  --foreground: #171717;

  --p1:#C15CB0;
  --tWhite: white;
  --tBlack:black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground) !important;
  background: var(--background) !important;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* a {
  color: inherit;
  text-decoration: none;
} */

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.header-section>nav>div>span{
  padding: 5px;

margin-left: 20px;
}

.iai-logo{
filter: drop-shadow(5px 5px black);
}

.mainBlock{
  box-shadow: #7979791f 0px 5px 20px 1px;
}

/* --------------------------------------------- */
/* Header Section */
/* --------------------------------------------- */

.header-section{
  width: 100%;
  height: 90px;
  margin: auto 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.068);
}

.header-section>nav{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-section>nav>div{
  width: 50%;
}

.menu-list{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

.menu-list>li{
  width: 200px;
 
}

.link-list{
  text-decoration: none;
  color: var(--foreground);
}
.link-list:hover{
  color: var(--p1);
  transition: all ease-in-out 0.3s;
}

.menu-list>li:hover{
cursor: pointer;
color: var(--p1);
font-size: larger;
transition: all ease-in-out 0.3s;
text-underline-offset: 15px;
text-decoration: underline;
text-decoration-color: var(--p1);
text-decoration-thickness: 5px;
}



.menu-list-block{
  display: flex;
  justify-content: center;
  align-items: center;
   
}

.ham-menu-img{
  display: none;
}

.menu-list-text{
font-family: "Inter";
font-weight: 700;
font-size: 17.51px;
line-height: 100%;
margin: 0 auto;
text-align: center;
}

.hs-profile-img{
  border-radius: 100%;
}

.nav-pro-block{
  width: 200px !important;
}


/* -------------------------- */
/* SideNav Section */
/* -------------------------- */

  .user-profile-section{
      width: 300px;
      height: 300px;
      float: right;
      right: 0;
      text-decoration: none;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
      padding: 10px;
      border-radius: 10px;
      background-color: var(--background);
      box-shadow: 0px 0px 10px 0.4px var(--p1);
  }

  .ups-div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
  }

  .ups-div+div{
    width: 100%;
  }

  .logout-btn{
    width: 100%;
    height: 40px;
    font-weight: 700;
    border-radius: 3.34px;
    padding: 10px;
    text-decoration: none;
    color: var(--tWhite);
    background-color: var(--p1);
    border: none;
    }
.ups-email-txt{
  text-decoration: none;
  color: var(--foreground);
}


/* -------------------------- */
/* SideNav Section */
/* -------------------------- */

.sidenavmenu{
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.945);
}
.sidenav-ul{
  padding-top: 50px;
  list-style: none;
  /* display: flex;
  flex-direction: column;
  justify-content: space-evenly; */
  
}

.list-item{
  cursor: pointer;
  text-align: center;
  padding: 15px;
  border-radius: 100px;
  font-weight: 700;
}
.list-item:hover{
  border:4px solid var(--p1);
  width: 100%;
}

.list-item-close{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end !important;
  align-items: end;
  padding: 0px 30px;

}

.list-item-close>span{
  cursor: pointer;
}

.signup-btn{
width: 130px;
height: 50px;
font-weight: 700;
border-radius: 3.34px;
padding: 10px;
text-decoration: none;
color: var(--tWhite);
background-color: var(--p1);
border: none;
}

.signup-btn:hover,.signup-btn1:hover {
  background-color: transparent;
  border: 2px solid var(--p1);
  transition: all ease-in 0.2s;
}

.signup-link{
  width: 130px;
height: 50px;
font-weight: 700;
border-radius: 3.34px;
padding: 17px 30px;
text-decoration: none;
color: var(--tWhite);
background-color: var(--p1);
border: none;
}

.signup-btn1{
  width: 150px;
  height: 50px;
  font-weight: 700;
  border-radius: 3.34px;
  padding: 10px;
  background-color: transparent;
  border: none;
  }
/* ---------------------------------------------------- */

.bor{
  border: 1px solid red;
}

/* ---------------------------------------------------- */
/* Hero Section */
/* ---------------------------------------------------- */

.hero-parent1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.hero-parent1-div1{
  /* border: 1px solid red; */
  margin-bottom: 5px;
  width: 50%;
  padding: 0px 20px;
  gap: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

.hero-headTxt{
  width: 100%;
  font-family: "Orbitron", sans-serif !important;
font-weight: 900;
font-size: 55px;
}
.hero-subTxt{
  font-size: 19px;
  padding: 0 90px 0 0 ; 
}

.hero-btn-div{
  display: flex;
  gap: 15px;
}

.hero-section{
  height: 100%;
}


.hero-users-div{
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;  
}

.white-dot{
  background-color: var(--tWhite);;
  padding: 5px;
  width: 11px;
  height:11px;
  border-radius: 100%;
}

.eTxt{
  font-size: 12px;
  font-weight: 600;
}


.hero-parent2{
  height: 450px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.hero-parent2-div1{
  display: flex;
  gap:0;
}

.div4{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hp2{
  /* margin-top: -60px; */
  animation: infinite alternate 3.5s ease-in-out swipe1;
}
.hp1{
  /* margin-top: 80px; */
  animation: infinite alternate 3.5s ease-in-out swipe2;
}

.hp1:hover,.hp2:hover{
  filter: drop-shadow(0 0 0.95rem var(--p1));
}

@keyframes swipe1{
  from{
    margin-top: 0px;
  }
  to{
    margin-top: -60px;
  }
}

@keyframes swipe2{
  from{
    margin-top: 0px;
  }
  to{
    margin-top: 80px;
  }
}

.hero-headTxt1{
  font-family: "Orbitron", sans-serif !important;
  font-weight: 600;
  font-size: 45px;
}
.subTxt1{
  font-size: 19px;
  padding-right: 60px;
}

.users-img{
  margin-left: -6px;
}

.users-img:hover{
  border-radius: 100%;
  border: 2px solid var(--p1);
  width: 60px;
  height: 60px;
}

/* ----------------------------------------------------------------------- */

.banner-section{
  margin-top: 49px;
  width: 100%;
  height: 200px;
  background-image: url("../../public/banner.svg");
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
}

.bs-head{
  display: flex;
  flex-direction: column;
  font-size: 30px;
  font-weight: 600;
  color: white;
}

/* ---------------------------------------------------------- */


.features-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px 0px;
  padding: 50px;
  gap: 120px;
}
.fs-card-block{
  width:  353px;
  height: 300px;
  position: relative;
}

.fs-card-block:hover{
  filter: drop-shadow(0 0 0.95rem var(--p1));
}


.fs-blur-card{
  width: 99%;
  height: 110px;
  position: absolute;
  color: white;
  bottom: 0;
  border-bottom-left-radius: 10px;
  font-size: 18px;
  line-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  padding: 15px;
  margin-bottom: 11px;
  backdrop-filter: blur(10px);
  background: transparent;
}

.fs-card-img{
  width:  350px;
  height: 300px;
  position: absolute;
  margin: auto 0px;
}

.bc-title{
  font-weight: 700;
  text-decoration: underline;
}
.bc-desc{
  font-weight: 400;
}

/* ------------------------------------------------------------ */

.client-view-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30;
}

.cv-subhead{
  width: 60%;
  text-align: center;
  font-family: Inter;
font-weight: 400;
font-size: 20px;
line-height: 100%;
letter-spacing: -2%;

}

.cv-card-div-row{
  width: 100%;
  height: 17rem;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  justify-content: left;
  align-items: center;
  gap: 10px; 
  /* border: 1px solid greenyellow; */
}


.cv-card{
 width: 350px !important;
  padding: 10px;
  border-radius: 12px;
  background: linear-gradient(180deg, #AA14F0 -42.59%, rgba(0, 0, 0, 0) -42.59%, #CB8DE8 -42.58%, rgba(203, 143, 232, 0.18) 4.35%, rgba(151, 60, 68, 0.055) 99.99%, rgba(199, 137, 228, 0) 100%);
  border: 0.76px solid;
  border-image-source: linear-gradient(77.91deg, rgba(185, 54, 245, 0.1375) 1.95%, rgba(185, 54, 245, 0.11) 1.95%, rgba(170, 20, 240, 0.0825) 108.82%);
}

.cv-span-title{
  color: #F7B603;
}

.cv-span-title,.cv-span-ext{
  font-family: Inter;
font-weight: 700;
font-size: 8px;
line-height: 8.57px;
letter-spacing: 7%;
}

.cv-span-msg{
font-family: Inter;
font-weight: 400;
font-size: 9px;
line-height: 10px;
letter-spacing: -2%;

}

.cv-profile-block{
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  gap: 5px;
  /* border: 1px solid green; */

}

.cd-info-block{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  text-align: left;
  gap: 6px;
}

.cv-info-name{
  font-family: Inter;
font-weight: 500;
font-size: 12px;
line-height: 9.12px;
letter-spacing: -2%;

}

.cv-info-username{
  font-family: Inter;
font-weight: 500;
font-size: 11px;
line-height: 9.12px;
letter-spacing: -2%;
color: #EB4468;

}


/* -------------------------------------------------------------- */

@media (max-width: 992px)  {

  .header-section>nav>div>span{
    margin-left: 0px;
  }

  .menu-list{
    display: none;
  }
  
  .ham-menu-img{
    display: block;
  }

  .menu-list-block{
    justify-content: right;
  }

  .hero-parent1-div1{
    width: 100%;
    padding: 0px;
    margin-top: 0px;
  }

  .hero-parent1{
    height: auto;
    flex-direction: column;
  }

  .hero-cvr-img{
    height: auto;
  }

  .hero-parent2{
    flex-direction: column;
    height: 54rem;

  }

  .hero-parent2-div1{
    margin-top: 75px;
    gap: 12px;
  }

  .hp1,.hp2{
    width: 49%;
    /* height: 100%; */
  }

  .div4{
    width: 100%;
    padding: 10px;
  }

  .fs-card-block{
    width: 100%;
  }

/* ------------------------------------ */
/* Banner Section */
/* ------------------------------------ */
  .banner-section{
    padding: 0 15px;
  }
  
  .bs-head{
    font-size: larger;
  }

  .bs-video{
    cursor: pointer;
  }

/* ------------------------------------ */
/* Modal section */
/* ------------------------------------ */

.modal-section{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background-color: #000000 !important;
}

.ms-div{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.ms-close-div{
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  border: 1px solid green;

}

.ms-div>.ms-close-div{
  cursor: pointer;
}

.ms-video-tag{
  z-index: 100;
}

/* ------------------------------------ */
/* ClientView section */
/* ------------------------------------ */

  .features-section{
    /* padding: 30px; */
    margin: 50px 0px;
  }

  .cv-subhead{
    font-size: 15px;
  }

  .cv-card-div-row{
    width: 100%;


    border: 1px solid red;
  }


}


::-webkit-scrollbar{
  width: 6px;
}

::-webkit-scrollbar-track{
  background: #1D1D1D;
}

::-webkit-scrollbar-thumb{
  background: linear-gradient(#1D1D1D,#121212,#BB86FC,#BB86FC,#121212,#1D1D1D);
  filter: brightness(100%);
}