
:root {
  --background: #ffffff;
  --foreground: #171717;

  --p1:#C15CB0;
  --tWhite: white;
  --tBlack:black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground) !important;
  background: var(--background) !important;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* a {
  color: inherit;
  text-decoration: none;
} */

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
.iai-logo{
  margin-left: 20px;
}

.mainBlock{
  box-shadow: #7979791f 0px 5px 20px 1px;
}

.navbar{
  width: 100%;
  height: 90px;
  margin: auto 0;
}

.navbar>nav{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav>div{
  width: 50%;
}

.menu-list{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

.menu-list>li:hover{
cursor: pointer;
color: var(--p1);
text-underline-offset: 15px;
text-decoration: underline;
text-decoration-color: var(--p1);
text-decoration-thickness: 5px;
}

.menu-list-block{
  display: flex;
  justify-content: center;
  align-items: center;
   
}

.ham-menu-img{
  display: none;
}

.menu-list-text{
font-family: "Inter";
font-weight: 700;
font-size: 17.51px;
line-height: 100%;
margin: 0 auto;
text-align: center;
}

.link-list{
  text-decoration: none;
  color: var(--tWhite);
}

/* -------------------------- */
/* sideNav Section */
.sidenavmenu{
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.945);
}
.sidenav-ul{
  padding-top: 50px;
  list-style: none;
  /* display: flex;
  flex-direction: column;
  justify-content: space-evenly; */
  
}

.list-item{
  cursor: pointer;
  text-align: center;
  padding: 15px;
  border-radius: 100px;
  font-weight: 700;
}
.list-item:hover{
  border:4px solid var(--p1);
  width: 100%;
}

.list-item-close{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end !important;
  align-items: end;
  padding: 0px 30px;

}

.list-item-close>span{
  cursor: pointer;
}

/*  */


.signup-btn{
width: 130px;
height: 50px;
font-weight: 700;
border-radius: 3.34px;
padding: 10px;
text-decoration: none;
color: var(--tWhite);
background-color: var(--p1);
border: none;
}

.signup-link{
  width: 130px;
height: 50px;
font-weight: 700;
border-radius: 3.34px;
padding: 17px 30px;
text-decoration: none;
color: var(--tWhite);
background-color: var(--p1);
border: none;
}

.signup-btn1{
  width: 150px;
  height: 50px;
  font-weight: 700;
  border-radius: 3.34px;
  padding: 10px;
  background-color: transparent;
  border: none;
  }

.bor{
  border: 1px solid red;
}

.hero-parent1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.hero-parent1-div1{
  margin-top: -100px;
  padding: 0px 20px;
  gap: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

.hero-headTxt{
  width: 100%;
  font-family: "Orbitron", sans-serif !important;
font-weight: 900;
font-size: 55px;
}
.hero-subTxt{
  font-size: 19px;
  padding: 0 90px 0 0 ; 
}

.hero-btn-div{
  display: flex;
  gap: 15px;
}

.hero-section{
  height: 100%;
}

.hero-cvr-img{
  margin-top: 35px;
}

.hero-users-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.white-dot{
  background-color: var(--tWhite);;
  padding: 5px;
  width: 11px;
  height:11px;
  border-radius: 100%;
}

.eTxt{
  font-size: 12px;
  font-weight: 600;
}

.hero-parent2-div1{
  display: flex;
  gap:0;
}

.hero-parent2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.div4{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hp2{
  margin-top: -60px;
}

.hp1{
  margin-top: 80px;
}

.hero-headTxt1{
  font-family: "Orbitron", sans-serif !important;
  font-weight: 600;
  font-size: 45px;
}
.subTxt1{
  font-size: 19px;
  padding-right: 60px;
}

.users-img{
  margin-left: -6px;
}

/* ----------------------------------------------------------------------- */

.banner{
  margin-top: 49px;
  width: 100%;
  height: 200px;
  background-image: url("../../public/banner.svg");
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
}

.banHead{
  display: flex;
  flex-direction: column;
  font-size: 30px;
  font-weight: 600;
}

/* ---------------------------------------------------------- */


.cardSection{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 150px;
  gap: 50px;
}
.cardBlock{
  width:  350px;
  height: 300px;
  position: relative;
}


.blurCard{
  width: 210px;
  height: 100px;
  z-index: 50;
  position: absolute;
  bottom: 0;
  border-bottom-left-radius: 10px;
  font-size: 13px;
  line-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  padding: 15px;
  margin-bottom: 11px;
  backdrop-filter: blur(10px);
  background: transparent;
}

.imgCard{
  width:  350px;
  height: 300px;
  position: absolute;
  z-index: 10;
}

.bc-title{
  font-weight: 700;
  text-decoration: underline;
}
.bc-desc{
  font-weight: 400;
}

/* ------------------------------------------------------------ */

.clientViewSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  gap: 30;
}

.cvtestsubTxt{
  width: 60%;
  text-align: center;
  font-family: Inter;
font-weight: 400;
font-size: 20px;
line-height: 100%;
letter-spacing: -2%;

}

.cvCardBlock{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
    
  /* border: 1px solid greenyellow; */
}

.cvCard{
  width: 230px;
  padding: 10px;
  border-radius: 12px;
  background: linear-gradient(180deg, #AA14F0 -42.59%, rgba(0, 0, 0, 0) -42.59%, #CB8DE8 -42.58%, rgba(203, 143, 232, 0.18) 4.35%, rgba(151, 60, 68, 0.055) 99.99%, rgba(199, 137, 228, 0) 100%);
  border: 0.76px solid;
  border-image-source: linear-gradient(77.91deg, rgba(185, 54, 245, 0.1375) 1.95%, rgba(185, 54, 245, 0.11) 1.95%, rgba(170, 20, 240, 0.0825) 108.82%);

}

.cvSpantitle{
  color: #F7B603;
}

.cvSpantitle,.cvSpanExt{
  font-family: Inter;
font-weight: 700;
font-size: 8px;
line-height: 8.57px;
letter-spacing: 7%;
}

.cvsubTxt{
font-family: Inter;
font-weight: 400;
font-size: 9px;
line-height: 10px;
letter-spacing: -2%;

}

.cvProBlock{
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  gap: 5px;
  /* border: 1px solid green; */

}

.innerCVInfo{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  text-align: left;
  gap: 6px;
}

.cvInfoName{
  font-family: Inter;
font-weight: 500;
font-size: 12px;
line-height: 9.12px;
letter-spacing: -2%;

}

.cvInfoUsername{
  font-family: Inter;
font-weight: 500;
font-size: 11px;
line-height: 9.12px;
letter-spacing: -2%;
color: #EB4468;

}


/* -------------------------------------------------------------- */

@media (max-width: 992px)  {

  .iai-logo{
    margin-left: 0px;
  }

  .menu-list{
    display: none;
  }
  
  .ham-menu-img{
    display: block;
  }

  .menu-list-block{
    justify-content: right;
  }

  .hero-parent1-div1{
    margin-top: 0px;
  }

  .hero-parent1{
    height: auto;
    flex-direction: column;
  }

  .hero-cvr-img{
    width: 100dvw;
    height: auto;
  }

  .hero-parent2{
    flex-direction: column;
  }

  .hero-parent2-div1{
    margin-top: 75px;
    gap: 12px;
  }

  .hp1,.hp2{
    width: 49%;
    /* height: 100%; */
  }

  .div4{
    width: 100%;
    padding: 10px;
  }

  .banHead{
    font-size: larger;
  }
  
  .banner{
    padding: 0 15px;
  }

  .cardSection{
    padding: 30px;
  }

  .cvtestsubTxt{
    font-size: 15px;
  }

  .cvCardBlock{
    width: 100%;
    /* padding: 5px; */
    flex-direction: column;
 
  }


}

::-webkit-scrollbar{
  scroll-behavior: smooth;
  scrollbar-width: 70px;
  scrollbar-color: #C15CB0;

}